*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(180deg, rgba(0,0,0,0) 75%, rgb(233, 153, 78) 95%);
}

.hero-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.72);
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

/* NAVIGACJA */

nav{
    position: sticky;
    top: 0;
    height: 60px;
    line-height: 60px;
    background-color: rgb(226, 132, 44);
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

.nav-mobile{
    margin-right: 100%;
}

.nav-mobile i{
    color: white;
}

.nav-mobile button{
    font-size: 30px;
    padding: 0 30px;
    background: none;
    border: none;
    line-height: 60px;
}

.nav-desktop{
    display: none;
}

/* HEADER  */

.header-img {
    position: relative;
    height: 330px;
    background-image: url("../img/head_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.header-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.68);
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    text-shadow: 3px 3px 5px black;
}

.header-text h1 {
    margin-bottom: 5px;
}

.header-text span {
    color: rgb(230, 116, 9);
    text-transform: uppercase;
}

.header-text p {
    font-size: 14px;
}

/* MAIN  */

section {
    margin: 80px 0;
    scroll-margin-top: 70px;
}

main h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.underline {
    position: relative;
}

.line {
    position: absolute;
    left: calc(50% - 30px);
    bottom: -5px;
    width: 60px;
    height: 3px;
    background-color: rgb(230, 116, 9);
}

.dogs {
    font-size: 0;
}

.about-us p {
    padding: 0 20px;
}

.main-dog {
    position: relative;
    height: 260px;
    width: 100%;
    display: inline-block;
    background-size: cover;
    background-position: center;
}

.main-dog:hover .dog-text h3{
    transform: scale(1.2);
}

.first-dog {
    background-image: url("../img/1dog_large.jpg");    
}

.second-dog {
    background-image: url("../img/2dog_large.jpg");
}
.third-dog {
    background-image: url("../img/3dog_large.jpg");
}
.fourth-dog {
    background-image: url("../img/4dog_large.jpg");    
}

.dog-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    font-size: 16px;
    text-shadow: 3px 3px 5px black;
    text-transform: uppercase;
}

.dog-text h3 {
    transition: transform .3s;
}

.contact {
    text-align: center;
    margin-bottom: 120px;
}

.contact h3 {
    padding: 20px 0 5px;
    text-transform: uppercase;
}

.contact i {
    font-size: 20px;
    margin-right: 10px;
    line-height: 160%;
}

/* FOOTER  */

footer {
    height: 80px;
    line-height: 80px;
    font-size: 10px;
    color: white;
    text-align: center;
    /* background-color: rgb(230, 116, 9); */
    background-color: rgb(233, 153, 78);
    border-top: 2px solid rgb(230, 116, 9);
}

@media (min-width: 400px)
{
    .header-text h1 {
        margin-bottom: 10px;
        font-size: 36px;
    }
    
    .header-text p 
    {
        font-size: 18px;
    }

    .dog-text h3{
        font-size: 36px;
        margin-bottom: 10px;
    }

    .dog-text {
        font-size: 19px;
    }

    footer {
        font-size: 14px;
    }
}